<h2>Edit the field below</h2>

<%= form_for(@article) do |f| %>
<div class="form-group">
  <%= f.label :title%>
  <%= f.text_field :title%>
</div>
<div class="form-group">
  <%= f.label :content %>
  <%= f.text_field :content %>
</div>
<div class="form-group">
  <%= f.submit "update article" %>
</div>

<% end %>

<p><%= link_to "back to home page", articles_path %> or <%= link_to "back to hshow", article_path(@article.id) %></p>
